@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

/* Variables for re-use*/
:root {
    --textcolour: #fff;
    --secondarytext: #000;
    --WebsiteThemeColour: blue;
}
/* Asterisk means it applies to everything */ 
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Supermercado One', sans-serif;
    color: var(--secondarytext);
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--secondarytext);
}

h1,h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    /*Will keep it within its container and utilise 100% of the space it has */
    width: 100%;
}

/* Navbar styling */
.navbar {
     background-color: var(--WebsiteThemeColour);
     color: var(--textcolour);
     height: 70px;
     
}
.navbar ul {
    display: flex;
}


.navbar a {
    color: var(--textcolour);
    padding: 10px;
    margin: 0 5px;
}

/* This uses the hover feature built into CSS and HTML and adds a little bar which appears when the cursor hovers over the links */
.navbar a:hover {
    border-bottom: 2px var(--textcolour) solid;
}

/*If navbar and flex are in the same class then this css is utilised */

.navbar .flex {
    justify-content: space-between;
}
/* Showcase */
.showcase {
    height: 400px;
    background-color: var(--WebsiteThemeColour);
    position: relative;
    color: var(--textcolour);
}

.showcase h1 {
    font-size: 40px;
}

.showcase p{
    margin: 20px 0;
}

.showcase .grid{
    /* Allows it to overflow out of the element it is contained in */
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    /* Z-index is basically a sorting system of what should be on top and visible of others. */
    z-index: 100;
    justify-self: flex-end;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[Type='text'],
.showcase-form input[Type='email'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus{
    outline:none;
}

/* This is a pseudo selector */
.showcase::after{
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background:#fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3eg);
    -moz-transform: skewY(-3eg);
    -ms-transform: skewY(-3deg);
}

/* Position absolute means that it is positioned relative to the nearest positioned ancestor instead of doing it based on the viewport */

.showcase::before{
    content: '';
    position: absolute;
    height: 20px;
    bottom: -70;
    right: 0;
    left: 0;
    background:#fff;

}

/*  
You can add effects to pseudo selectors but the event needs to occur before the selector (hover is before the after)
.showcase:hover:after{
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
*/

/* Stats */

.stats{
    padding-top: 100px;
}

.stats-heading {
    max-width: 500px;
    margin: auto;
}

.stats .grid h3{
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

/* CLI */

.cli .grid {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

/* Takes anything that is the first child in the CLI section, the first child under the grid, is the <img> tag  */
/* The asterisk can be replaced with whatever element you want e.g. img */
.cli .grid > *:first-child {
    /* Starts at first column and spans over to the second column */
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}